<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

    <p>
    This page was built from scratch by none other than Gabriel Bacallao. It is an amazing feat. He worked long and hard and faced many technical errors. He actually did not work that hard. It.. this is an easy project. Super simple. Its the learning that counts though, as he is very beginner to this all. He is a newbie.
  </p>
  <br />
  <p>
    Soon enough, Gabe plans on taking his technical skill and making a career out of it. If he can combine it for his passion for creativity then wow, things work very well.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

    <div class="row">
      <div class="col-12 col-sm-4">
        <%= image_tag 'Gabe.jpg', class: 'img-fluid' %>
      </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Gabriel Bacallao</h2>
      <br />
      <p>
        GABRIEL
      </p>
    </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />